*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo {
    background-image: url(../../assets/photo.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}