.background {
    background-image: url(../../assets/background.png);
    background-size: cover;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    filter: blur(3px);
    transform: scale(1.2);
}

.random {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2000px;
    background: violet;
}

.firstContainer {
    width: 95%;
    height: 250px;
    background: #fff;
    border-radius: 19px;
    margin-top: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invisibleBackgound {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftFirstContiner {
    display: flex;
}

.mainPhoto {
    background-image: url(../../assets/rightgirl.png);
    background-size: cover;
    width: 6vw;
    border-radius: 25px;
    height: 11vw;
    margin-left: 1vw;
}

.mainInformation {
    display: flex;
    flex-direction: column;
}

.redirects {
    font-size: 0,5vw;
}

.mainText {
    color: #FF2F6D;
    font-size: 45px;
}